{{ define "main" -}}
<head>
  <link rel="stylesheet" type="text/css" href="{{ "styles.css" | relURL }}">
</head>
<div class="post">
  <h1 class="title">{{ .Title }}</h1>
  {{ with .Params.tagline }}<span class="tagline">{{ . }}</span>{{ end }}

  {{ if ne .Type "page" -}}
  <div class="post-date">
    <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time> <span class="readtime">&middot; {{ .ReadingTime }} min read</span>
  </div>
  {{- end }}

  <div>
  {{ .Content }}
  </div>

  {{ partial "tags.html" . }}

  {{ if (and (ne .Params.DisableShare true) (ne .Params.disable_share true)) -}}
  {{ partial "share.html" . }}
  {{- end }}

  <!-- 定義獎勵區塊的外層元素 -->
  <div class="reward-container">
  
    <!-- 顯示空白的區塊 -->
    <div></div>
  
    <!-- 定義捐贈按鈕 -->
    <button id="donate-button">donate</button>
  
    <!-- 定義 QR 碼的外層元素 -->
    <div id="qr" style="display: none;">
  
      <!-- 顯示 QR 碼的內層元素 -->
      <div style="display: inline-block;">
        <img src="/images/black.jpg" alt="donate">
        <p>donate</p>
      </div>
  
    </div>
  
  </div>
  
  <script>
    // 取得捐贈按鈕
    const donateButton = document.getElementById('donate-button');
  
    // 取得 QR 碼的外層元素
    const qr = document.getElementById('qr');
  
    // 為捐贈按鈕添加點擊事件
    donateButton.addEventListener('click', function() {
      // 切換 QR 碼的顯示狀態
      qr.style.display = qr.style.display === 'none' ? 'block' : 'none';
    });
  </script>
  
  {{ if (and .Site.DisqusShortname (ne .Params.DisableComments true) (ne .Params.disable_comments true)) -}}
  {{ partial "disqus.html" . }}
  {{- end }}

</div>
{{- end }}
