<div class="share-buttons">
   <a class="mail-share-button"
   href="mailto:markchangstart2022@gmail.com"
   title="Share on EMail"
   ><span class="icon icon-email" aria-label="Email"></span></a>
  <!-- <a class="linkedin-share-button"
     href="#"
     title="Share on LinkedIn"
     data-url="{{ .Permalink }}"
     data-text="{{ .Title }}"><span class="icon icon-linkedin" aria-label="LinkedIn">💼</span></a> -->
   
   <!-- <a class="twitter-share-button"
      href="#"
      title="Share on Twitter"
      data-url="{{ .Permalink }}"
      data-text="{{ .Title }}"><span class="icon icon-twitter" aria-label="Twitter">🐦</span></a> -->
<!-- 
  <a class="facebook-share-button"
     href="#"
     title="Share on Facebook"
     data-url="{{ .Permalink }}"
     data-text="{{ .Title }}"><span class="icon icon-facebook" aria-label="Facebook">📘</span></a>

  <a class="telegram-share-button"
     href="#"
     title="Share on Telegram"
     data-url="{{ .Permalink }}"
     data-text="{{ .Title }}"><span class="icon icon-telegram" aria-label="Telegram">✈️</span></a>

  <a class="pinterest-share-button"
     href="#"
     title="Share on Pinterest"
     data-url="{{ .Permalink }}"
     data-text="{{ .Title }}"><span class="icon icon-pinterest" aria-label="Pinterest">📌</span></a> -->
</div>
